:root {
  --color-primary-border-primary: var(--color-primary-background-primary);
  --color-primary-background-primary: var(--purple-600);
  --color-primary-background-primary-accent: var(--purple-600);
  --color-primary-text-primary-foreground: var(--zinc-50);
  --color-muted-background-muted: var(--zinc-800);
  --color-neutral-border-neutral: var(--zinc-700);
  --color-neutral-border-neutral-light: var(--zinc-500);
  --color-neutral-background-neutral: var(--basic-dark);
  --color-neutral-text-neutral-foreground: var(--basic-light);
  --color-neutral-icon-neutral-foreground: var(--zinc-400);
  --color-muted-background-muted-p50: #27272a7f;
  --color-muted-background-muted-secondary: var(--zinc-700);
  --color-muted-text-muted-foreground: var(--zinc-400);
  --color-muted-icon-muted-foreground: var(--zinc-500);
  --color-contrast-border-contrast: var(--zinc-700);
  --color-contrast-background-contrast: var(--basic-light);
  --color-contrast-text-contrast: var(--zinc-800);
  --color-primary-icon-primary-foreground: var(--color-primary-text-primary-foreground);
  --color-destructive-border-destructive: var(--color-destructive-background-destructive);
  --color-success-border-success: var(--color-success-background-success);
  --color-success-background-success: var(--green-600);
  --color-success-background-success-accent: var(--green-500);
  --color-success-background-success-secondary: var(--scale-green-green-alpha-ten);
  --color-success-background-success-secondary-accent: var(--scale-green-green-alpha-thirty);
  --color-success-text-success-foreground: var(--green-500);
  --color-success-icon-success-foreground: var(--color-success-text-success-foreground);
  --color-alert-border-alert: var(--color-alert-background-alert);
  --color-alert-background-alert: var(--yellow-600);
  --color-alert-background-alert-accent: var(--yellow-500);
  --color-alert-background-alert-secondary: var(--scale-yellow-yellow-alpha-ten);
  --color-item-piechartindicators-enemy-default: var(--blue-500);
  --color-item-logo-text-logo: var(--zinc-100);
  --color-alert-background-alert-secondary-accent: var(--scale-yellow-yellow-alpha-thirty);
  --color-alert-text-alert-foreground: var(--yellow-500);
  --color-alert-icon-alert-foreground: var(--color-alert-text-alert-foreground);
  --color-item-background-card: var(--color-neutral-background-neutral);
  --color-item-background-card-container: var(--scale-purple-purple-alpha-ten);
  --color-item-background-popover: var(--zinc-800);
  --color-item-border-card: var(--scale-purple-purple-alpha-thirty);
  --color-item-text-card: var(--scale-white-white-alpha-fifty);
  --color-item-icon-card: var(--color-item-text-card);
  --color-item-text-popover-foreground: var(--zinc-100);
  --color-item-table-one-foreground: var(--slate-400);
  --color-item-table-two-foreground: var(--stone-400);
  --color-item-text-link: var(--color-primary-text-secondary-foreground);
  --color-destructive-background-destructive: var(--red-600);
  --color-primary-background-secondary: var(--scale-purple-purple-alpha-ten);
  --color-primary-background-secondary-accent: var(--scale-purple-purple-alpha-thirty);
  --color-destructive-background-destructive-accent: var(--red-500);
  --color-destructive-background-destructive-secondary: var(--scale-red-red-alpha-ten);
  --color-primary-text-secondary-foreground: var(--purple-400);
  --color-destructive-background-destructive-secondary-accent: var(--scale-red-red-alpha-thirty);
  --color-primary-icon-secondary-foreground: var(--color-primary-text-secondary-foreground);
  --color-destructive-text-destructive-foreground: var(--red-600);
  --color-destructive-icon-destructive-foreground: var(--color-destructive-text-destructive-foreground);
  --indicators-leaderboardpie-id-none: var(--zinc-500);
  --indicators-leaderboardbadge-badge-crown: var(--yellow-400);
  --indicators-leaderboardbadge-badge-whale: var(--fuchsia-400);
  --indicators-leaderboardbadge-badge-diamond: var(--sky-400);
  --indicators-blockchainpie-id-ethereum: var(--cyan-400);
  --indicators-blockchainpie-id-arbitrum: var(--blue-400);
  --indicators-blockchainpie-id-polygon: var(--purple-400);
  --indicators-blockchainpie-id-optimism: var(--red-500);
  --indicators-blockchainpie-id-avalanche: var(--pink-400);
  --indicators-blockchainpie-id-bnb: var(--yellow-400);
  --indicators-blockchainpie-id-base: var(--sky-400);
  --indicators-blockchainpie-id-soneium: var(--fuchsia-400);
  --indicators-blockchainpie-id-tron: var(--rose-400);
  --indicators-blockchainpie-id-cronos: var(--blue-400);
  --indicators-blockchainpie-id-solana: var(--emerald-400);
  --indicators-rafflelistpie-id-lot-one: var(--cyan-400);
  --indicators-rafflelistpie-id-lot-two: var(--orange-400);
  --indicators-rafflelistpie-id-lot-three: var(--amber-400);
  --indicators-rafflelistpie-id-lot-four: var(--lime-400);
  --indicators-rafflelistpie-id-lot-five: var(--fuchsia-400);
  --indicators-rafflelistpie-id-lot-six: var(--indigo-400);
  --indicators-rafflelistpie-id-lot-seven: var(--sky-400);
  --indicators-rafflelistpie-id-lot-eight: var(--rose-400);
  --indicators-leaderboardpie-id-place-first: var(--red-500);
  --indicators-leaderboardpie-id-place-second: var(--fuchsia-500);
  --indicators-leaderboardpie-id-place-third: var(--blue-500);
  --indicators-leaderboardpie-id-place-fourth: var(--amber-500);
  --indicators-leaderboardpie-id-place-fifth: var(--slate-400);
  --indicators-leaderboardpie-id-place-other: var(--neutral-300);
  --indicators-leaderboardpie-id-risk-critical: var(--red-300);
  --indicators-leaderboardpie-id-risk-high: var(--orange-300);
  --indicators-leaderboardpie-id-risk-medium: var(--yellow-300);
  --indicators-leaderboardpie-id-risk-low: var(--green-300);
  --scale-gradient-card-point-one: var(--scale-purple-purple-alpha-ten);
  --scale-gradient-card-point-two: var(--scale-purple-purple-alpha-six);
  --scale-gradient-background-point: #371154;
  --scale-purple-purple-alpha-fifty: #a855f77f;
  --scale-purple-purple-alpha-thirty: #a855f744;
  --scale-purple-purple-alpha-ten: #a855f719;
  --scale-purple-purple-alpha-six: #6231910f;
  --scale-white-white-alpha-fifty: #ffffff7f;
  --scale-white-white-alpha-twenty: #ffffff33;
  --scale-white-white-alpha-ten: #ffffff19;
  --scale-white-white-alpha-five: #ffffff0c;
  --scale-white-white-alpha-one: #ffffff02;
  --scale-red-red-alpha-fifty: #dc26267f;
  --scale-red-red-alpha-thirty: #dc262644;
  --scale-red-red-alpha-ten: #dc262619;
  --scale-green-green-alpha-fifty: #22c55e7f;
  --scale-green-green-alpha-thirty: #22c55e44;
  --scale-green-green-alpha-ten: #22c55e19;
  --scale-yellow-yellow-alpha-fifty: #eab3087f;
  --scale-yellow-yellow-alpha-thirty: #eab30844;
  --scale-yellow-yellow-alpha-ten: #eab30819;
  --state-transparent-fifty: 0.5;
  --state-transparent-seventy: 0.7;
}

.light {
  --color-primary-border-primary: var(--color-primary-background-primary);
  --color-primary-background-primary: var(--purple-400);
  --color-primary-background-primary-accent: var(--purple-500);
  --color-primary-text-primary-foreground: var(--basic-light);
  --color-muted-background-muted: var(--zinc-100);
  --color-neutral-border-neutral: var(--zinc-200);
  --color-neutral-border-neutral-light: var(--zinc-300);
  --color-neutral-background-neutral: var(--basic-light);
  --color-neutral-text-neutral-foreground: var(--basic-dark);
  --color-neutral-icon-neutral-foreground: var(--zinc-600);
  --color-muted-background-muted-p50: #f4f4f57f;
  --color-muted-background-muted-secondary: var(--zinc-200);
  --color-muted-text-muted-foreground: var(--zinc-400);
  --color-muted-icon-muted-foreground: var(--color-muted-text-muted-foreground);
  --color-contrast-border-contrast: var(--zinc-200);
  --color-contrast-background-contrast: var(--basic-dark);
  --color-contrast-text-contrast: var(--zinc-100);
  --color-primary-icon-primary-foreground: var(--color-primary-text-primary-foreground);
  --color-destructive-border-destructive: var(--color-destructive-background-destructive);
  --color-success-border-success: var(--color-success-background-success);
  --color-success-background-success: var(--green-500);
  --color-success-background-success-accent: var(--green-600);
  --color-success-background-success-secondary: var(--green-50);
  --color-success-background-success-secondary-accent: var(--green-100);
  --color-success-text-success-foreground: var(--green-500);
  --color-success-icon-success-foreground: var(--color-success-text-success-foreground);
  --color-alert-border-alert: var(--color-alert-background-alert);
  --color-alert-background-alert: var(--yellow-500);
  --color-alert-background-alert-accent: var(--yellow-600);
  --color-alert-background-alert-secondary: var(--yellow-50);
  --color-item-piechartindicators-enemy-default: #ffffff;
  --color-item-logo-text-logo: var(--zinc-700);
  --color-alert-background-alert-secondary-accent: var(--yellow-100);
  --color-alert-text-alert-foreground: var(--yellow-600);
  --color-alert-icon-alert-foreground: var(--color-alert-text-alert-foreground);
  --color-item-background-card: var(--zinc-50);
  --color-item-background-card-container: var(--color-muted-background-muted);
  --color-item-background-popover: var(--basic-light);
  --color-item-border-card: var(--color-neutral-border-neutral);
  --color-item-text-card: var(--color-muted-text-muted-foreground);
  --color-item-icon-card: var(--color-item-text-card);
  --color-item-text-popover-foreground: var(--zinc-700);
  --color-item-table-one-foreground: var(--slate-500);
  --color-item-table-two-foreground: var(--stone-500);
  --color-item-text-link: var(--color-primary-text-secondary-foreground);
  --color-destructive-background-destructive: var(--red-500);
  --color-primary-background-secondary: var(--scale-purple-purple-alpha-ten);
  --color-primary-background-secondary-accent: var(--scale-purple-purple-alpha-thirty);
  --color-destructive-background-destructive-accent: var(--red-600);
  --color-destructive-background-destructive-secondary: var(--red-50);
  --color-primary-text-secondary-foreground: var(--purple-500);
  --color-destructive-background-destructive-secondary-accent: var(--red-100);
  --color-primary-icon-secondary-foreground: var(--color-primary-text-secondary-foreground);
  --color-destructive-text-destructive-foreground: var(--red-500);
  --color-destructive-icon-destructive-foreground: var(--color-destructive-text-destructive-foreground);
  --indicators-leaderboardpie-id-none: var(--zinc-500);
  --indicators-leaderboardbadge-badge-crown: var(--yellow-500);
  --indicators-leaderboardbadge-badge-whale: var(--yellow-500);
  --indicators-leaderboardbadge-badge-diamond: var(--yellow-500);
  --indicators-blockchainpie-id-ethereum: var(--cyan-500);
  --indicators-blockchainpie-id-arbitrum: var(--blue-500);
  --indicators-blockchainpie-id-polygon: var(--purple-500);
  --indicators-blockchainpie-id-optimism: var(--red-600);
  --indicators-blockchainpie-id-avalanche: var(--pink-500);
  --indicators-blockchainpie-id-bnb: var(--yellow-500);
  --indicators-blockchainpie-id-base: var(--sky-500);
  --indicators-blockchainpie-id-soneium: var(--fuchsia-500);
  --indicators-blockchainpie-id-tron: var(--rose-500);
  --indicators-blockchainpie-id-cronos: var(--blue-500);
  --indicators-blockchainpie-id-solana: var(--emerald-500);
  --indicators-rafflelistpie-id-lot-one: var(--cyan-500);
  --indicators-rafflelistpie-id-lot-two: var(--orange-500);
  --indicators-rafflelistpie-id-lot-three: var(--amber-500);
  --indicators-rafflelistpie-id-lot-four: var(--lime-500);
  --indicators-rafflelistpie-id-lot-five: var(--fuchsia-500);
  --indicators-rafflelistpie-id-lot-six: var(--indigo-500);
  --indicators-rafflelistpie-id-lot-seven: var(--sky-500);
  --indicators-rafflelistpie-id-lot-eight: var(--rose-500);
  --indicators-leaderboardpie-id-place-first: var(--zinc-500);
  --indicators-leaderboardpie-id-place-second: var(--zinc-500);
  --indicators-leaderboardpie-id-place-third: var(--zinc-500);
  --indicators-leaderboardpie-id-place-fourth: var(--zinc-500);
  --indicators-leaderboardpie-id-place-fifth: var(--zinc-500);
  --indicators-leaderboardpie-id-place-other: var(--zinc-500);
  --indicators-leaderboardpie-id-risk-critical: var(--red-600);
  --indicators-leaderboardpie-id-risk-high: var(--orange-600);
  --indicators-leaderboardpie-id-risk-medium: var(--yellow-600);
  --indicators-leaderboardpie-id-risk-low: var(--green-600);
  --scale-gradient-card-point-one: var(--basic-light);
  --scale-gradient-card-point-two: var(--basic-light);
  --scale-gradient-background-point: var(--color-neutral-background-neutral);
  --scale-purple-purple-alpha-fifty: #a855f77f;
  --scale-purple-purple-alpha-thirty: #a855f744;
  --scale-purple-purple-alpha-ten: #a855f719;
  --scale-purple-purple-alpha-six: #6231910f;
  --scale-white-white-alpha-fifty: #ffffff7f;
  --scale-white-white-alpha-twenty: #ffffff33;
  --scale-white-white-alpha-ten: #ffffff19;
  --scale-white-white-alpha-five: #ffffff0c;
  --scale-white-white-alpha-one: #ffffff02;
  --scale-red-red-alpha-fifty: #dc26267f;
  --scale-red-red-alpha-thirty: #dc262644;
  --scale-red-red-alpha-ten: #dc262619;
  --scale-green-green-alpha-fifty: #22c55e7f;
  --scale-green-green-alpha-thirty: #22c55e44;
  --scale-green-green-alpha-ten: #22c55e19;
  --scale-yellow-yellow-alpha-fifty: #eab3087f;
  --scale-yellow-yellow-alpha-thirty: #eab30844;
  --scale-yellow-yellow-alpha-ten: #eab30819;
  --state-transparent-fifty: 50;
  --state-transparent-seventy: 70;
}
