@use '@/scss/main' as *;

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 3px 12px 3px 3px;
  width: fit-content;
  border-radius: 999px;
  border: 1px solid var(--white-12p);
  background: var(--white-12p);

  @include media-up-md {
    padding: 7px 16px 7px 7px;
  }

  svg {
    border-radius: 50%;
  }
}

.token {
  color: #FFF;
  @include label-sm-mobile;

  @include media-up-md {
    @include label-sm-desktop;
  }

  @include media-up-lg {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}