@use '@/scss/main' as *;

.root {
  position: relative;
}

.videoWrapper {
  width: 100dvw;
  height: 624px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 120px;
    position: relative;
    top: -120px;
    background: linear-gradient(0deg, #14151A 0%, rgba(20, 21, 26, 0.00) 100%);

    @include media-up-md {
      height: 154px;
      top: -154px;
    }
  }

  @include media-up-md {
    height: 800px;
  }
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 0 auto;
  padding-top: 157px;
  @include container;

  @include media-up-md {
    padding-top: 224px;
    max-width: 640px;
  }

  @include media-up-lg {
    padding-top: 251px;
    max-width: 740px;
  }
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.title {
  @include h1-mobile;
  @include gradient-title;

  @include media-up-md {
    @include h1-desktop;
  }
}

.description {
  color: var(--white-80p);
  @include body-lg-mobile;

  @include media-up-md {
    @include body-lg-desktop;
  }
}

.users {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  margin-top: 147px;

  @include media-up-md {
    margin-top: 0;
  }
}

.avatars {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  margin-left: -8px;

  &:first-child {
    margin-left: 0;
  }
}

.usersCount {
  color: var(--white-80p);
  @include body-sm-desktop
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  @include media-up-md {
    width: fit-content;
  }
}