@use '@/scss/main' as *;

.root {
  display: flex;
  align-items: center;
  gap: 12px;
  width: fit-content;
  height: auto;
  padding: 8px 20px 8px 8px;
  position: absolute;
  background-color: var(--white-10p);
  color: var(--surface-95p);
  border-radius: 68px;
  box-shadow: 0 24px 32px -12px rgba(18, 18, 18, 0.10), 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;
  backdrop-filter: blur(16px);
  @include label-md-mobile;

  @include media-up-md {
    padding: 12px 32px 12px 12px;
    @include label-md-desktop;
  }
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: 40px;
  height: 40px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 44px;
  background: var(--gray-60p);
  box-shadow: 0 24px 32px -12px rgba(18, 18, 18, 0.10), 2px 4px 16px 0px rgba(248, 248, 248, 0.06) inset;
  backdrop-filter: blur(16px);

  &::before {
    @include mask;
    z-index: 1;
    inset: -1px;
    padding: 1px;
    background:  linear-gradient(158deg, rgba(255, 255, 255, 0.10) 14.19%, rgba(255, 255, 255, 0.00) 50.59%, rgba(255, 255, 255, 0.00) 68.79%, rgba(255, 255, 255, 0.03) 105.18%);;
  }

  @include media-up-md {
    padding: 10px;
    width: 44px;
    height: 44px;
  }
}